@media (max-width: 768px) {
  .ril-sidebar {
    display: none;
  }
}

.thumbnail-sidebar {
  scrollbar-width: none;
  justify-content: flex-start;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: 100vh
}

.ril-thumb {
  flex: 0 0 88px;
  box-sizing: border-box;
  padding: 8px;
  width: 88px;
  height: 88px;
  cursor: pointer;
  border-radius: 6px;
  overflow: hidden;
  opacity: 0.5;
}

.ril-thumb:hover {
  opacity: 0.95;
  transform: translateY(-1px);
}

.ril-thumb.thumb-active {
  opacity: 1;
  background-color: #5e5e5e;
}

.ril-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
