.seafile-image-tooltip {
  pointer-events: none;
  z-index: 1070;
}

.seafile-image-tooltip .tooltip-inner {
  max-width: 242px;
  text-align: start;
  background-color: white;
  color: black;
  font-weight: 400;
  padding: 4px 8px;
  font-size: .875rem;
  border-radius: 4px;
}

.seafile-image-tooltip.bs-tooltip-auto[data-popper-placement^="top"] {
  margin-bottom: -2px;
}
