.seafile-image-tooltip {
  pointer-events: none;
  z-index: 1070;
}

.seafile-image-tooltip .tooltip-inner {
  max-width: 242px;
  text-align: start;
  background-color: white;
  color: black;
  font-weight: 400;
  padding: 6px 12px;
  font-size: 12px;
  border-radius: 4px;
}

.seafile-image-tooltip.bs-tooltip-auto[data-popper-placement^="bottom"] .arrow::before {
  border-bottom-color: white;
}

.seafile-image-tooltip.bs-tooltip-auto[data-popper-placement^="top"] {
  margin-bottom: -2px;
}

.seafile-image-tooltip.bs-tooltip-auto[data-popper-placement^="top"] .arrow::before {
  border-top-color: white;
}

.seafile-image-tooltip.bs-tooltip-auto[data-popper-placement^="right"] .arrow::before {
  border-right-color: white;
}

.seafile-image-tooltip.bs-tooltip-auto[data-popper-placement^="left"] .arrow::before {
  border-left-color: white;
}
